{% if page.homepage %}
    <div class="mt-4 mb-0">
        {% if site.project.download_url %}
            {% capture button_text -%}
                {{ site.project.download_text | default: 'Download' }}
            {%- endcapture %}

            {% include masthead/button.html
                 url=site.project.download_url
                 icon="download"
                 title=button_text
            %}
        {% endif %}

        {% for link in site.links.homepage %}
            {% include masthead/button.html
                   url=link.url
                   icon=link.icon
                   title=link.title
                   brand=link.brand
            %}
        {% endfor %}
    </div>

    <!-- {% if site.project.version %}
        <p class="site-masthead__version my-0">
            Copyright {{ site.project.version }}
        </p>
    {% endif %} -->

    <p style="font-family: Courier New, Consolas; font-size:1.0rem; color:#999;" id="current-time"></p>

    <script>
        function displayTime() {
            var currentTime = new Date();
            var timestamp = parseInt(currentTime.getTime() / 1000);
            var year = currentTime.getFullYear();
            var month = currentTime.getMonth() + 1;
            var day = currentTime.getDate();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            var dayOfWeek = days[currentTime.getDay()];

            month = (month < 10 ? "0" : "") + month;
            day = (day < 10 ? "0" : "") + day;
            hours = (hours < 10 ? "0" : "") + hours;
            minutes = (minutes < 10 ? "0" : "") + minutes;
            seconds = (seconds < 10 ? "0" : "") + seconds;

            var timeString = dayOfWeek;
            timeString = timeString + " " + year + "-" + month + "-" + day;
            timeString = timeString + " " + hours + ":" + minutes + ":" + seconds;
            timeString = timeString + " " + timestamp;
            document.getElementById("current-time").innerHTML = timeString;
        }
        // flush every second
        setInterval(displayTime, 1000);
    </script>

{% endif %}
